.App {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(82, 161, 239);
  overflow:scroll;
}

.modal-container {
  position: fixed;
  margin-left: 15vw;
  margin-top: 45vh;
  z-index: 10;
}

.text-chat {
  border: solid;
  width: 55vw;
}

.chat-selector {
  border: solid;
}

.server-list {
  border: solid;
}

.user-list {
  border: solid;
  width: 15vw;
}