.App {
  display: flex;
}

.ui-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  overflow:scroll;
}

#video-container {
  height: 200px;
  width: 200px;
}

.text-chat {
  border: solid;
  width: 55vw;
}

.chat-selector {
  border: solid;
}

.server-list {
  border: solid;
}

.user-list {
  border: solid;
  width: 15vw;
}